<p style="color: green"><%= notice %></p>

<div class="my-8 text-center space-y-4">
  <h1 class="text-4xl font-bold text-center">
    Projects
  </h1>

  <%= link_to "New project", new_project_path, class: "inline-block px-4 py-2 rounded-md bg-blue-300 hover:bg-blue-400" %>

  <div id="projects" class="grid grid-cols-3 gap-4">
    <% @projects.each do |project| %>
      <%= link_to project do %>
        <div class="space-y-4 mt-8 mx-auto max-w-lg bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-lg font-mono text-center hover:translate-x-4 hover:-translate-y-4 ease-in-out duration-300">
          <%= render project %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
